<div class="container-fluid bg-black" style="position: relative">

    <header class="py-5">
        <h1 id="head" class="animate__animated animate__zoomInDown">NINA LEE | PHOTOGRAPHY</h1>
    </header>

    <table>
        <div class="d-flex flex-column flex-md-row kkk">


            <img id="img1" class="animate__animated animate__slideInLeft img-fluid" src="https://cdn.pixabay.com/photo/2015/01/06/16/14/woman-590490_1280.jpg" alt="">



            <h5 class="animate__animated  " style="padding-left: 6rem;">
                <p>
                    <span id="Bio">
            Biography
          </span>
                    <br>
                    <br>
                    <span id="text1" style=" font-size: 1rem;">
            Nina Lee is a talented photographer born in Italy in 1989, to a Japanese father and an Italian
            mother.Growing up with a multicultural background, Nina has always been fascinated by the diversity of
            people and cultures around the world. <br> <br> This passion led her to pursue a career in
            photography, which has allowed her to capture and share the beauty of the world through her lens.
            Nina's style of photography is characterized by her ability to capture raw emotion and unique
            perspectives. She has a keen eye for detail and a talent for finding beauty in unexpected places. <br>
            <br>
          </span>
                </p>
            </h5>


        </div>


    </table>
    <table>
        <tr class="d-flex flex-column flex-md-row">

            <div>
                <td>
                    <h5 class="animate__animated " style="margin-left: 6rem; font-size: 1rem; margin-top: 6rem; margin-right: 0px;">
                        <p>
                            Nina's portfolio includes a wide range of subjects, from breathtaking landscapes to intimate portraits, each one capturing a moment in time and telling a unique story. <br> <br> Nina's work has been recognized and praised by
                            many, and she has had the opportunity to showcase her art in various exhibitions and galleries around the world. <br> <br> She continues to push the boundaries of her craft, always striving to capture the essence of the human
                            experience through her photography.
                        </p>
                    </h5>
                </td>
            </div>
            <td class="d-flex justify-content-center">
                <img class="animate__animated animate__slideInLeft" style=" width: 75%;" src="https://images.unsplash.com/photo-1560329072-17f59dcd30a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=841&q=80" alt="">
            </td>
        </tr>
        <div>
        </div>
    </table>


    <div class="p-5" style="color:rgb(0, 0, 0); background-color: black;">
        <hr>
    </div>
    <div style="color:rgb(237, 229, 229); background-color: black; padding: 0px;">
    </div>

    <!-- contact Form start -->
    <!-- ------------------------------------------------------------------------------------------------ -->

    <h4 class="text-center" id="myAnchor" style="background-color: black; margin: 0px; color: aliceblue; font-family: 'Libre Baskerville', serif; font-size: 1rem; width: 100%; padding-right:10%; padding-left:10%; padding-bottom: 0px;">
        Thank you for your interest in Nina Lee's travel and documentary photography services. <br> Nina's passion for exploring the world and capturing its beauty and diversity through her lens is what drives her <br> to create stunning visuals that
        tell compelling stories. <br> If you're interested in working with Nina on a travel or documentary photography project, please don't hesitate to get in touch. <br> Nina is always excited to collaborate with individuals and organizations that share
        her love for adventure, culture, and social issues. <br> You can fill out the contact form below or email her directly at nina.lee@gmail.com.</h4>


    <div class="background d-flex justify-content-center my-3" id="AnchorId">
        <div>
            <div class="screen px-2">
                <div class="screen-body d-flex justify-content-evenly">
                    <div class="screen-body-item left">
                        <div class="app-title">
                            <span>CONTACT US</span>
                            <!-- her we can use mor  -->
                        </div>
                    </div>
                    <div class="screen-body-item">
                        <form class="app-form" [formGroup]="info">
                            <div class="app-form-group">
                                <input class="app-form-control" placeholder="Name" formControlName="name">
                            </div>
                            <div class="app-form-group">
                                <input class="app-form-control" placeholder="Email" formControlName="email">
                            </div>
                            <div class="app-form-group">
                                <input class="app-form-control" placeholder="Phone number" formControlName="phone">
                            </div>
                            <div>
                            </div>
                            <div>
                                <textarea type="text-area" class="app-form-control" placeholder="Message" formControlName="message"></textarea>
                            </div>
                            <div class="app-form-group buttons p-4">
                                <button [class.disabled]="!info.valid" [swal]="['great!', 'we will get in toucH!', 'success']" class="app-form-button btn" type="submit">SEND</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------------------------------------------- -->
    <h3 class="text-center" style="font-family: 'EB Garamond', serif; font-size: 2rem; background-color: #000000; padding: 0px; margin: 0px; color: white;">
        Customer Feedback</h3>

    <div class="rewiev d-flex  justify-content-between flex-wrap" style=" border-radius: 10px 100px / 120px; height: auto; padding-top: 3rem; ">
        <div class="mx-auto">
            <div class="profile-card">
                <div class="img">
                    <img src="  https://www.interviewmagazine.com/wp-content/uploads/2018/04/whelan_1.jpg" oncontextmenu="return false">
                </div>
                <div class="caption">
                    <br>
                    <h3 style="font-family: 'Libre Baskerville', serif;">Robert Capa</h3>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star bg-light text-warning"></span>
                    <div>
                        <span class="text-center">
              This gallery is a great collection of artwork! The pieces are vibrant and full of life.
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="profile-card">
                <div class="img">
                    <img src="https://blog.artsper.com/wp-content/uploads/2017/11/cri_000000172027-e1531491367117-644x644.jpg" oncontextmenu="return false">
                </div>
                <div class="caption">
                    <br>
                    <h3 style="font-family: 'Libre Baskerville', serif;">Annie Leibovitz</h3>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star bg-light"></span>
                    <div>
                        <span class="text-center">
              Nina's ability to capture fleeting moments results in a body of work that is thought-provoking.
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="profile-card">
                <div class="img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIUzb4Ba4XtJKLIxDUV65BH7ZSgq2PGUb7msKGH_-prZOxoyXRynlZrmlYEIIz3PzXdYw&usqp=CAU" oncontextmenu="return false">
                </div>
                <div class="caption">
                    <br>
                    <h3 style="font-family: 'Libre Baskerville', serif;">Dorothea Lange</h3>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star bg-light text-warning"></span>
                    <div>
                        <span class="text-center">
              Nina's use of lighting and composition creates stunning images.
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="profile-card">
                <div class="img">
                    <img src="https://www.fridakahlo.org/images/frida-kahlo-snapshot.jpg" oncontextmenu="return false">
                </div>
                <div class="caption">
                    <br>
                    <h3 style="font-family: 'Libre Baskerville', serif;">Ansel Adams</h3>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star bg-light text-warning"></span>
                    <div>
                        <span class="text-center">
              Nina's photography focuses on capturing the beauty in everyday life.
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="profile-card">
                <div class="img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV72R_ZY1f1Rkd1lETaZlLSvJEBXd902f9SyUpau0lhtnKGWUAVgB2sBAtRoNsbv9fpQg&usqp=CAU" oncontextmenu="return false">
                </div>
                <div class="caption">
                    <br>
                    <h3 style="font-family: 'Libre Baskerville', serif;">Cindy Sherman</h3>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star text-warning"></span>
                    <span class="fa fa-star"></span>
                    <div>
                        <span class="text-center">
              Nina's use of creative framing result in photographs that leave a lasting impression.
            </span>
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>

    </div>
</div>