<app-hero-gallery></app-hero-gallery>
<div class="box">
    <div class="container">
        <div class=" d-flex justify-content-evenly flex-wrap gap-3">


            <div (click)="expandCities()" class="cardDiv">
                <div class="card h-60" style="width: 21rem; margin: 0 auto">

                    <img src="https://cdn.pixabay.com/photo/2018/12/14/21/29/sunset-3875817_1280.jpg"
                        class="card-img width:100 cities" alt="Los Angeles" style="height:20rem">
                    <div class="card-img-overlay">

                        <h5 class="card-title">CITIES</h5>
                    </div>
                </div>
            </div>

            <div (click)="expandArchi()" class="cardDiv">
                <div class="card h-70" style="width: 21rem; margin: 0 auto">
                    <img src="https://images.unsplash.com/photo-1524492412937-b28074a5d7da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
                        class="card-img width:100 archi" alt="Los Angeles" style="height:20rem">
                    <div class="card-img-overlay">
                        <h5 class="card-title">ARCHITECTURAL</h5>
                    </div>
                </div>
            </div>

            <div (click)="expandLandscapes()" class="cardDiv">
                <div class="card h-70" style="width: 21rem; margin: 0 auto">
                    <img src="https://images.unsplash.com/photo-1527268421104-9d2ac5ccef84?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                        class="card-img width:100 landscapes" alt="Los Angeles" style="height:20rem">
                    <div class="card-img-overlay">
                        <h5 class="card-title">LANDSCAPES</h5>
                    </div>
                </div>
            </div>

            <div (click)="expandWild()" class="cardDiv">
                <div class="card h-70" style="width: 21rem; margin: 0 auto">
                    <img src="https://images.unsplash.com/photo-1580629905303-faaa03202631?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80"
                        class="card-img width:100 wild" alt="Los Angeles" style="height:20rem">
                    <div class="card-img-overlay">
                        <h5 class="card-title">WILD LIFE</h5>
                    </div>
                </div>
            </div>



            <div (click)="expandPeople()" class="cardDiv">
                <div class="card h-70" style="width: 21rem; margin: 0 auto">
                    <img src="https://images.unsplash.com/photo-1604657889147-93e159f08534?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
                        class="card-img width:100 people" alt="Los Angeles" style="height:20rem">
                    <div class="card-img-overlay">
                        <h5 class="card-title">EARTHLINGS</h5>
                    </div>
                </div>
            </div>



            <div (click)="expandFood()" class="cardDiv">
                <div class="card h-70" style="width: 21rem; margin: 0 auto">
                    <img src="https://images.unsplash.com/photo-1506781961370-37a89d6b3095?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
                        class="card-img width:100 food" alt="Los Angeles" style="height:20rem">
                    <div class="card-img-overlay">
                        <h5 class="card-title">STREETFOOD</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>