<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height:70vh">
        <div class="carousel-item active" data-bs-interval="10000" style="height:100%">
            <img src="/assets/images/slideshow1.jpg" class="d-block w-100 h-100 test" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000" style="height:100%">
            <img src="/assets/images/slideshow2.jpg" class="d-block w-100 h-100 test" alt="...">
        </div>
        <div class="carousel-item" style="height:100%">
            <img src="/assets/images/slideshow3.jpg" class="d-block w-100 h-100 test" alt="...">
        </div>
    </div>


    <i class="bi bi-arrow-down-circle-fill" id="arrow" (click)="toBottom()"></i>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

</div>



<div class="bar">
    <h2>NINA LEE | PHOTOGRAPHY</h2>
    <h4> Travel & Documentary Photographer </h4>
    <br>
    <h5>"The Camera Is An Instrument That Teaches People How To See Without A Camera." </h5>
    <p>Dorothea Lange</p>
</div>

<app-slider></app-slider>

<div class="parallax"></div>

<div class="bar-2">
    <h2 id="prints">PRINTS</h2>

    <div class="cards-container mb-5 mt-5 mx-auto" style="width:90%">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 gy-5">
            <div *ngFor="let val of prints; index as i">
                <div class="cardDiv2">

                    <div class="card h-100" style="width: 18rem; margin: 0 auto">
                        <img src="{{ val.image }}" class="card-img width:100" alt="{{val.name}}" style="height:20rem">
                        <div class="card-img-overlay">
                            <h5 class="card-title">{{val.name}}</h5>

                            <!-- ng-template is used to display the buttons only in case the  dish is available-->

                            <div class="button d-flex gap-3 d-sm-flex d-xs-flex d-md-flex justify-content-sm-start">
                                <ng-template [ngIf]="val.available" [ngIfElse]="unavailable">
                                    <!-- <button class="btn btn-light me-md-2 btn-sm" type="button" style="background-color:white" routerLink="/dishes/{{i}}">Details</button> -->
                                    <ng-template [ngIf]="available" [ngIfElse]="unavailable">
                                        <button [swal]="['','Item added to cart', 'success']" class=" btn btn-light btn-sm " type="button " style="background-color:white " (click)="addToCart(val) ">Order</button>
                                    </ng-template>
                                </ng-template>
                            </div>

                            <ng-template #unavailable>
                                <p class="message fw-bold " id="message ">Coming soon</p>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column justify-content-bottom ">
                    <ng-template [ngIf]="val.size " [ngIfElse]="space ">
                        <div class="info ">Size: {{val.size}}</div>
                    </ng-template>
                    <ng-template #space>
                        <div class="info ">
                            <span style="color:whitesmoke ">&nbsp;</span>
                        </div>
                    </ng-template>
                    <div class="info ">Price: {{val.price}} Є</div>
                </div>
            </div>
        </div>

    </div>



    </div>